@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: #FF6F61;
    --color-secondary: #F5F5F5;
    --color-text-base: #333333;
    --color-text-inverted: #ffffff;
    --color-text-accent: #FFB6C1;
    --color-text-action: #FFD700;
  }
}